<div class="container center">
	{{> header}}
	<div class="blocks1">
		<div class="row ">
			<div class="col-lg-6 col-md-6 col-sm-6 ">
				<div class="legacy-col1">
					<div class="leg_head">
						<h2>
							<strong>ABOUT GOA</strong>
						</h2>
					</div>
					<p>Goa is a tiny state on the West coast of India. Once a major marine trade hub and the capital of the Portuguese overseas empire, today it is one of the most sought after tourist destinations in India for its natural beauty as well as cultural and
						architectural heritage. Goa is truly a fusion of the East and the West - the land where the majestic temples are found alongside marvelous churches, where the craziness of India is found in cities planned and built by the Portuguese and where the
						local song and dances mingle with jazz and samba to create a year-long party.
					</p>
					<p>Stretches of endless silver sand and white surf beaches wetted by the rush of the Azure Arabian sea, the reveling of late nights over the local feni brew, the tarvernas and the general nostalgic atmosphere make Goa an irresistible destination for
						someone seeking beauty and calm. For these reasons Goa gets millions of tourists each year, many of whom visit the state on a regular basis just to get away from the hectic urban life and recharge their batteries.
					</p>
					<p>This has also made Goa a favoured destination for off-site corporate events where business and pleasure can be mixed effortlessly in a serene environment. This is aided by the plethora of starred hotels in the state that offer world class facilities
						for work as well as comfort.</p>
					</br>
					<a href="http://en.wikipedia.org/wiki/Goa" target="_blank">
						<strong>Know More>></strong>
					</a>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="legacy-col2">
					<div class="leg_head">
						<h2>
							<strong>ABOUT FOMENTO</strong>
						</h2>
					</div>
					<p>Sociedade de Fomento Industrial is a business conglomerate headquartered in Goa, India. Established in 1957 as an Iron Ore mining company, we have since diversified into other related businesses such as mineral beneficiation, specialty steel making,
						marine logistics and boat building. In addition to our presence in 6 states of India, we have group offices in USA, Brazil and Mozambique to manage our mineral exploration and mining projects in the Americas and Africa.</p>
					<p>Apart from our activities in the mineral industry, we also have a significant presence in the hospitality industry through our investments in tourism projects in Goa, Maharashtra and Portugal. Our journey in the hospitality sector began in 1982 with
						the construction of Cidade de Goa, one of the first 5 star resorts in Goa. Today, Cidade de Goa is counted among the best independent hotels in the country and is set to become the biggest beach resort in South Asia upon the completion of the ongoing
						expansion project in 2017.</p>
					<p>We are now setting on a new journey to try and make Goa one of the most comfortable places in the world for tourists. Through Fomento Travel, we provide end-to-end travel solutions for corporate travelers to come to Goa and enjoy the serene atmosphere
						for work as well as pleasure. We feel that being a Goan company that has seen the state evolve over the last 58 years, we can provide a Goa experience that no one else can.</p>
					<a href="http://fomento.com/" target="_blank">
						<strong>Know More>></strong>
					</a>
				</div>
			</div>
		</div>
	</div>
	{{> footer}}

</div>
