<div class="container">
	{{> header}}
	<div class="container terms">
		<h2>Privacy Policy</h2>
		<p>At Fomento Travel, we are very sensitive to the privacy concerns of visitors to all of our websites, including our pages and applications on third-party social-networking services such as Facebook or Twitter and our applications on mobile devices. We
			know that maintaining your trust requires that we protect your privacy. This Privacy Policy explains our online information practices at this website and the choices that you, as a visitor to this website, can make about the collection and use of your
			information
		</p>
		<h4>Personal information we may ask you for and how we might use it .</h4>
		<p>When you visit our website, we collect personal information from you (such as your name, address, phone number, e-mail address, etc.) when you voluntarily provide it to us. Depending on the purpose for which the information was provided, we may use
			the information to communicate with you regarding our products, services, and promotions, to provide you with other information or materials that you request, to customize your interactive experience, and/or to improve our product and service offerings.</p>
		<h4>How do we use cookies, web beacons, or similar technologies? .</h4>
		<p>We may employ cookie technology, web beacons, transparent GIF images, and similar devices to facilitate website administration and navigation, to better understand and improve the effectiveness of our site, and to provide an enhanced online experience
			for our visitors. Information tracked through these mechanisms includes but is not limited to (1) a user’s IP address (e.g., yahoo.com - 192.168.1.1), (2) the type of web browser (e.g., Internet Explorer) and operating system (e.g., Windows) being
			used, (3) the pages of the website a user visits, and (4) other websites a user visited before visiting our website. These devices may also be used on our behalf by third parties managing our advertising on other websites to enable us to learn which
			advertisements bring visitors to our websites and to otherwise improve our online advertising. Most browsers accept cookies automatically, but can be configured not to do so or to notify the user when a cookie is being sent. If you wish to disable
			cookies, refer to your browser help menu to learn how to disable cookies. Please note that if you disable cookies, you may be unable to access some customized features on our website. Devices like web beacons and transparent GIF images are tiny or
			transparent graphics that allow us to count the number of users who have visited a particular web page or to access certain cookies. We may use these graphics on our websites to count users and to recognize users by accessing our cookies. Being able
			to access our cookies allows us to personalize our website and improve your experience at our website. We may also include these graphics in HTML-formatted e-mail messages that we send to determine which e-mail messages were opened. Cookies and similar
			technologies used for online behavioral advertising – and your right to opt out</p>
		<h4>Sharing of Information:</h4>
		<p>Fomento Travel may share provided Personal Information with carefully screened third-party service providers for the sole purpose of providing you with the products, services and information you have requested. and targeted advertisers. Fomento Travel
			assures you that they do not store, retain or access your information except to provide our services to you and not for any other purpose.</p>
		<h4>Keeping you informed:</h4>
		<p>Fomento Travel keeps you informed about new features, products and promotions via email. From time to time, you may receive information on carefully screened third parties whose products or services may be of interest to you.</p>
		<h4>Changes and Modification:</h4>
		<p>Fomento Travel reserves the right to modify the Privacy Policy at any time. If our privacy policy changes, the revised policy will be posted on this site and we will change the 'updated' date at the bottom of this page to reflect the date of the modification.
			Please visit this page regularly to see the changes if any.</p>
		<h4>Laws and Regulations:</h4>
		<p>Fomento travel be required by law to disclose your Personal Information to proper law enforcement agencies; even if you requested that we don't share your information. This information may be necessary to identify, contact or bring legal action against
			anyone who committed any offence as per stated laws and regulations.</p>
		<h4> Merger, Acquisition and Termination of Service:</h4>
		<p>If we merge with, or are acquired by another company, the resulting combined company will use the Personal Information you have provided as described in this policy. If we cease operation, your Personal Information may be transferred to and used by
			another company that offers similar or related products or services.</p>
		<h4> Contact Us:</h4>
		<p>Fomento Travel will do its best to keep your entire information private, and to guard your privacy by continuously evaluating the enforcement of our policies stipulated in this Privacy Policy. Please contact us at info@fomentotravel.com in any of the
			following cases.</p>
		<p>If any of your personal information changes or you identify a mistake in our records. If you feel that we are not abiding by our stipulated privacy policy. We will do our best to resolve your inquiry as soon as possible. To communicate any questions
			or concerns on this Privacy Policy. </p>
	</div>
	{{> footer}}
</div>
