<div class="container">
	{{> header}}
	<div class="container terms">
		<h2> Terms of Use</h2>
		<p>Please read the following Terms and Conditions of service that you agree to, when you access www.fomentotravel.com ("website"), a service offered by FT. For the purposes of this Agreement, "FT" means www.Fomentotravels.com.</p>
		<p>By accessing any page of the website and/or using the services, you agree to be bound by these terms and conditions without limitation or qualification. If you do not accept these terms and conditions, please immediately discontinue your access to the
			website and/or use of the services.</p>
		<br>
		<h4>Change in Terms and Conditions</h4>
		<p>FT reserves the right to modify or amend these terms and conditions of service for any reason by giving user the reasonable notice on our website and/or via email. Such modifications or amendments will be effective once the notice is served.</p>
		<h4>Governing Law</h4>
		<p>This Agreement will be governed by and construed in accordance with the judiciary laws of the Republic of India without giving effect to any principles or conflicts of law.</p>
		<h4>Termination of Agreement</h4>
		<p>You agree that:
			<p>This agreement is effective until terminated by FT and FT reserves the right to terminate this agreement. FT may move, change, suspend or end any part of the services provided by FT</p>
			<h4>Cancellation Policy</h4>
			<p>Cancellation charges and refund would be at the sole discretion of the concerned hotel or vendors.</p>
			<h4>Security</h4>
			<p>Any password and/or secret codes used for using services provided by FT are for your personal use and you are requested not to share these passwords and/or security codes with anybody else. You agree that it is your responsibility to keep these passwords
				and/or security codes confidential and you will be responsible for any act and/or statements originated from the misuse of these passwords and/or security codes. You agree to inform FT in the event of loss or theft of these passwords and/or security
				codes or misuse in any manner.</p>
			<h4>Disclaimer</h4>
			<p>FT may suspend or cease the operation of the website for any reason with or without giving any prior notice. FT reserves the right to change the content on the website, and/or suspend or change the product or service offered by the website. You agree
				that in any mentioned case, you will use the website at your own risk and FT is not responsible for any loss or damage.</p>
			<h4>Limited Warranty</h4>
			<p>FT concedes to provide efficient, reliable, timely and satisfactory service to the best of its resources and skills. FT makes no warranty that the website will be uninterrupted, error free, and virus free or free from any malicious content. The Website
				is provided on an "as is where is" and "as available" basis. In any case of unsatisfactory service by FT, FT agrees to take proper corrective action on the basis of decision taken by FT.</p>
			<h4>Limitation of Liability</h4>
			<p>You agree that the FT services may be affected and/or interrupted by numerous factors beyond our control including, but not limited to the Internet, computer or utilities failure, natural calamities, unexpected acts of public, restraints by governmental
				authorities, strikes, war, riots, attacks of virus, corruptive code and crashing of website. In either case, FT shall not be liable to you for any loss or damage. You further agree that under no circumstances, including but not limited to negligence,
				shall FT or its affiliates be liable for any indirect or incidental damages that may result from the use of, or the inability to use the services offered by the Website.</p>
			<h4>Feedback</h4>
			<p>You agree to report any abuse of these terms and conditions of service, or complaint at contact@fomentotravel.com.</p>
			<h4>Indemnity/Compensation</h4>
			<p>You agree to indemnify/compensate FT and its affiliates, including its directors, employees, service providers, content providers, suppliers against any losses, claims or demand including legal fees, resulting from any violation of these Terms and
				Conditions of Service, or any wrongful activity related to your account by you or any other person using your account.</p>
			<h4>Copyright</h4>
			<p>Unless otherwise indicated, the copyright in the Website and its contents, including but not limited to the text, images, graphics, sound files, animation files, video files, and their arrangement, are the property of FT and are protected by copyright
				laws. No part or parts of the Website may be modified, copied, distributed, retransmitted, broadcast, displayed, performed, reproduced, published, licensed, transferred, sold or commercially dealt with in any manner without the express prior written
				consent of FT. </p>
	</div>
	{{> footer}}
