<footer class="container">
	<hr />
	<nav class="row" style="margin-left: 100px; margin-right: -40px;">
		<ul>
			<li class="col-lg-3 col-md-3 col-sm-3">
				<a href="/legacy">
					<h4>About</h4>
				</a>
			</li>
			<li class="col-lg-3 col-md-3 col-sm-3">
				<a href="/terms">
					<h4>Terms &amp; conditions</h4>
				</a>
			</li>
			<li class="col-lg-3 col-md-3 col-sm-3">
				<a href="/policy">
					<h4>Privacy policy</h4>
				</a>
			</li>
			<li class="col-lg-3 col-md-3 col-sm-3">
				<a href="/contact">
					<h4>Contact</h4>
				</a>
			</li>
		</ul>
	</nav>
</footer>
