<header class="page">
  <a href="/">
    <div>
      <div>
        <span class="fomento" style="margin-left: 50px;">Fomento</span>
        <span class="travel">Travel</span>
      </div>
    </div>
  </a>
</header>
